<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="/"
        title="Home"
        class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none"
      >
        <i
          class="fa-regular fa-compass"
          style="color: #000000; font-size: 2rem"
        ></i>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a
            href="/listings"
            class="nav-link px-2 link-secondary"
            title="All listings"
            >Explore</a
          >
        </li>
        <li>
          <a
            href="/listings/new"
            class="nav-link px-2 link-body-emphasis"
            title="Add new listing here Wonderlust"
            >Airbnb your home</a
          >
        </li>
      </ul>
      <form
        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
        role="search"
        action="/search"
        method="GET"
      >
        <input
          type="search"
          class="form-control"
          name="q"
          placeholder="Search by country or location..."
          aria-label="Search"
          required
        />
      </form>
      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          title="Users here"
        >
          <img
            src="https://thumbs.dreamstime.com/b/avatar-icon-avatar-flat-symbol-isolated-white-avatar-icon-avatar-flat-symbol-isolated-white-background-avatar-simple-icon-124920496.jpg"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li>
            <a class="dropdown-item" href="/listings/new">New Listing...</a>
          </li>
          <li><a class="dropdown-item" href="/user-setting">Settings</a></li>
          <li><a class="dropdown-item" href="/profile">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <% if(!currUser){ %>
          <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
          <li><a class="dropdown-item" href="/login">Login</a></li>
          <% } %> <% if(currUser){ %>
          <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</header>
