nav {
  background-color: #702cf5;
}

.nav-link {
  color: #fefeff;
}

body {
  background-color: #212529;
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  height: 100vh;
}

h3 {
  color: #1d8cb8;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: 2px solid #1d8cb8 underline;
}

textarea {
  resize: none;
}

.card {
  border: none;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.card-img-top {
  width: 100%;
  object-fit: cover;

  height: 20rem;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
.card-body {
  padding: 0;
}

.card-text {
  font-weight: 400;
  margin: 1%;
  font-optical-sizing: auto;
  font-style: normal;
}
.listing-link {
  text-decoration: none;
}

.show-img {
  height: 30vh;
}

.btns {
  padding: 1%;
  display: flex;
  justify-content: center;
}

.error {
  display: flex !important;
  align-items: center !important;
}

.reviewCard {
  padding: 10px;
}

.delRV {
  border: none;
  background-color: transparent;
}

footer {
  background-color: #2b3035;
  color: #e2e5e9 !important;
}
a {
  text-decoration: none;
}
