<% layout("/layouts/boilerplate") %>
<body>
  <h1 class="col-6 offset-3">SignUp On Wonderlust</h1>
  <div class="row">
    <div class="col-6 offset-3">
      <form action="/signup" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="username" class="form-label"> Name:</label>
          <input
            type="text"
            name="username"
            required
            id="username"
            class="form-control"
            placeholder="Enter your name"
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label"> Email:</label>
          <input
            type="email"
            name="email"
            required
            id="email"
            class="form-control"
            placeholder="Enter your Email"
          />
          <div class="invalid-feedback">please enter a valid email</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"> Password:</label>
          <input
            type="password"
            name="password"
            required
            id="password"
            class="form-control"
            placeholder="Create Strong Password"
          />
        </div>
        <button class="btn btn-outline-success">Verify Email</button>
      </form>
      <div class="col-6 offset-3">
        <a class="nav-link" href="/login">Already have an Account</a>
      </div>
    </div>
  </div>
</body>
